/* The asterisk selects EVERYTHING. 
   Be careful: this adds a black box behind every single element (icons, bold text, links, etc.) */
* {
  background-color: transparent;
  color: black; /* You need white text to see it on a black background! */
}

/* Remove the asterisk to select specific elements */

div {
  color: white;
  background-color: transparent;
}

h1 {
  color: white;
  background-color: transparent;
}

h2 {
  color: white;
  background-color: transparent;
}

button {
  color: rgb(1, 1, 1);
  background-color: rgb(84, 84, 84);
}

a {
  color: white;
  background-color: transparent;
}

a:hover {
  color: #61dafb;
}

p {
  color: white;
  background-color: transparent;
}

span {
  color: white;
  background-color: transparent;
}
input, select, textarea {
  color: white;
  background-color: black;
}

#root {
  width: 100%;
  height: 100%;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
