#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
 
  font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

.home-card {
  background: #c2d6c1;
  border-radius: 20px;
  padding: 40px;
  box-shadow: 0 8px 20px rgb(255, 255, 255);
  text-align: center;

  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.home-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 5px 20px rgb(228, 253, 0);
}

.home-title {
  font-size: 28px;
  color: #1976d2;
  margin-bottom: 10px;
}

.home-subtitle {
  font-size: 16px;
  color: #555;
  margin-bottom: 30px;
}

.home-links {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.home-link {
  background-color: #1976d2;
  color: white;
  padding: 12px 20px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: 500;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.home-link:hover {
  background-color: #00f700;
  transform: scale(1.05);
  cursor: pointer;
  text-decoration-color: #555;
  color: #000000;
}
