.anc-details-container {
    padding: 20px;
    font-family: sans-serif;
    background-color: black;
    color: white;
    min-width: min-content;
    min-height: 100vh;
  }
  
  .anc-details-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .form-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    
  }
  
  .form-group label {
    margin-bottom: 5px;
    font-weight: bold;
    text-transform: capitalize;
    color: yellowgreen;
    font-size: 16px;
    text-align: left;
  }
  
  .form-group input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .anc-details-form button {
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    background-color: #28a745;
    color: white;
    cursor: pointer;
    align-self: flex-start;
  }

  .error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
  }

  .select-option {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #c1c1c1;
    background-color: rgb(35, 35, 35);
    color: rgb(248, 248, 248);
    cursor: pointer
  }

  .select-option:hover {
  
  transform-origin: 10%;
    background-color: #555;
    color: white;
}
  
.select-header{
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
    text-transform: capitalize;
    color: transparent;
    font-size: 16px;
}

.buttons-container {
    display: flex;
    gap: 10px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: white;
}

.anc-group {
  background-color: #000000;
  padding: 10px;
  border-radius: 5px
}

.group-header{
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
  background-color: transparent;
  color: white
}

  
  @media (max-width: 600px) {
    .form-grid {
      grid-template-columns: 1fr;
    }
  }